

{% extends "layout.html" %}

{% block content %}
<section class="mb-4 p-3 my__container">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4 ff__patrick_hand dark__color" style="letter-spacing: 1px;">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5 ff__patrick_hand dark__color" style="font-size:18px;letter-spacing: 1px;">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>


        <!--Grid column-->
        <div class="mb-5 card p-5">
            <form id="contact-form" action="" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="mb-2 text_patrick_style  dark__color">Your name</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="mb-2 text_patrick_style  dark__color">Your email</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="mb-2 mt-2 text_patrick_style  dark__color">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control" required>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message" class="mb-2 mt-2 text_patrick_style  dark__color">Your message</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea mb-4" required></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <input type="submit" class="btn mt-2 sign_in_btn mb-4 dark__color" value="SEND">
            </form>

            <div class="status"></div>
</section>
{% endblock %}
