


{% extends "layout.html" %}

{% block content %}
		<div class="section">
			<div class="section__child">
				<img src="../static/photos/undraw_noted_pc9f.svg" class="note__image_login">
			</div>
			<div class="outer__line section__child">
				<div class="vertical__line"></div>
				<div class="horizontal__line"></div>
			</div>

				<div class="login__container">
					<form action="" method="POST">
						{{ form.hidden_tag() }}
						<div class='form-group'>
							{{ form.username.label(class="email_label form-control-label", id="username") }}

							{% if form.username.errors %}
								{{ form.username(class="form-control form-control-lg is-invalid") }}

								<div class='invalid-feedback'>
									{% for error in form.username.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}

								{{ form.username(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						<div class='form-group'>
							{{ form.email.label(class="email_label form-control-label", id="email") }}

							{% if form.email.errors %}
								{{ form.email(class="form-control form-control-lg is-invalid") }}

								<div class='invalid-feedback'>
									{% for error in form.email.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}

								{{ form.email(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						<div class='form-group'>
							{{ form.password.label(class="password_label form-control-label", id="password") }}

							{% if form.password.errors %}
								{{ form.password(class="form-control form-control-lg is-invalid") }}

								<div class='invalid-feedback'>
									{% for error in form.password.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}

								{{ form.password(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						<div class='form-group'>
							{{ form.confirm_pasword.label(class="password_label form-control-label" ,id="confirm_pasword") }}

							{% if form.confirm_pasword.errors %}
								{{ form.confirm_pasword(class="form-control form-control-lg is-invalid") }}

								<div class='invalid-feedback'>
									{% for error in form.confirm_pasword.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}

								{{ form.confirm_pasword(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						<div class='form-group'>
							{{ form.RegisterBtn(class='btn mt-2 sign_in_btn mb-4') }}
						</div>
					</form>


					<div class="mt-3">
						<span class="text-muted">Arleady have account? <a href="{{ url_for('signin') }}">sign in</a> </span>
					</div>
				</div>
		</div>
{% endblock content %}




